//
$base-color: #636b6f;
$link: #000000;

@mixin flex-center-v {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-center-h {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {

  background-color: #fff;
  color: $base-color;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;

  width: 100vw;
  height: 100vh;

  @include flex-center-v;

  h1, h2, h3 {
    margin: 15px 0;
  }

  a {
    color: $link;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    // text-transform: uppercase;
  }

}

@import 'partials/content.scss';
