* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

body main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

body main .form-group {
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

body main .form-group label {
  min-width: 100px;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

h1,
h2,
h3 {
  margin: 15px 0;
}

a {
  color: #636b6f;
  padding: 10px 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

li > form {
  display: inline-block;
}

.delete,
li > form button {
  background-color: transparent;
  border: none;
  color: red;
  text-align: center;
}

td,
th {
  padding-right: 10px;
}

